.active {
  color: rgb(48, 163, 67);
  background-color: rgb(177, 206, 211);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e7e5e5;
}

li a {
  /* display: block; */
  display: flex;
  justify-content: space-evenly;
  color: rgb(10, 10, 10);
  text-align: center;
  padding: 15px 45px;
  text-decoration: none;
  border-radius: 8%;
}
li {
  float: left;
  margin-right: 45px;
}
/* li a:hover {
  background-color: #111111;
  color: white;
} */
